@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", sans-serif;

}

h1 {
    font-size: 24px;
    color: #a20ba2;
    text-align: center;
}

input,
.btn-tarefa {
    font-weight: 400;
    width: 100%;
    height: 2rem;
    border-radius: 20px;
    margin-top: 15px;
    border: none;
    font-size: 20px;
}

button {
    background-color: #5e0a5e;
    font-weight: 700;
    color: rgb(235, 225, 225);
    cursor: pointer;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100vh;
    width: 100vw;
}



.tarefaAdd {
    height: 2rem;
    border-radius: 20px;
    list-style: none;
    color: #a20ba2;
    font-size: 24px;
    font-weight: 400;
}

.apagar {
    background-color: rgb(120, 29, 29);
    width: 2rem;
    height: 1.5rem;
    border: none;
    margin: 10px;
}

.tarefas {
    text-align: center;
}


@media screen and (max-width:415px) {
    .list-container {
        margin: 20px;
    }
    
}